@import url('./bootstrap.min.css');

@import url('./material-design-iconic-font.min.css');



body, html{
	background-color: #fff;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	font-size: 16px;
	font-family: 'RobotoCondensed';
	overflow: hidden;
}

.full-box{
	margin: 0;
	padding: 0;
	width: 100%;
	box-sizing: border-box;
}
.cover{
	background: 50% 50% no-repeat;
	background-size: cover;
}
.text-titles{
	font-family: 'RobotoCondensedLight'
}
.breadcrumb-tabs{
	margin-bottom: 15px; 
	background-color: transparent; 
	border-bottom: 2px solid #F7F7F7;
	padding: 0;
}



/*barra negra de arriba*/
.dashboard-contentPage{
	right: 0;
	z-index: 1;
	padding-left: 270px;
}


.dashboard-Navbar{
	background-color: #2A2D34;
	overflow: hidden;
}
.dashboard-Navbar > ul >li,
.dashboard-Navbar > ul > li > a{
	display: inline-block;
	width: 50px;
	text-align: center;
	color: #fff;
	margin: 0;
	padding: 0;
	font-size: 20px;
	transition: all .3s ease-in-out;
	position: relative;
}
/*fin de barra negra*/





/*============ Partes del menu al lado derecho*/
.dashboard-sideBar,
.dashboard-contentPage{
	position: absolute;
	top: 0;
	height: 100%;
	transition: all .3s ease-in-out;
}
/*sideBar*/
.dashboard-sideBar,
.dashboard-sideBar-ct{
	width: 270px;
}
.dashboard-sideBar{
	left: 0;
	z-index: 2;
	background-image: url('../img/00-kk.jpg');
	border-right: 1px solid rgba(255, 255, 255, .7);
	overflow: hidden;
}
.dashboard-sideBar-ct{
	position: relative;
	height: 100%;
	background-color: rgba(42, 45, 52, 0.7);
	padding: 0 10px;
	padding-bottom: 30px;
}
.dashboard-sideBar-title,
.dashboard-sideBar-title > i{
	height: 50px;
	line-height: 50px;
	color: #fff;
	font-size: 20px;
}
.dashboard-sideBar-title{
	position: relative;
}
.dashboard-sideBar-title > i{
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	width: 40px;
}
.dashboard-sideBar-UserInfo{
	border-top: 1px solid rgba(255, 255, 255, .3);
	border-bottom: 1px solid rgba(255, 255, 255, .3);
	color: #fff;
	font-size: 14px;
	padding: 20px 0;
}
.dashboard-sideBar-UserInfo figure img{
	width: 100px;
	height: 100px;
	border-radius: 100%;
	display: block;
	margin: 0 auto;
}
.dashboard-sideBar-UserInfo ul{
	margin-top: 15px;
}
.dashboard-sideBar-UserInfo ul > li,
.dashboard-sideBar-UserInfo ul > li > a{
	display: inline-block;
	color: #fff;
}
.dashboard-sideBar-UserInfo ul > li > a{
	outline: none;
	font-size: 20px;
	padding: 7px;
	transition: all .3s ease-in-out;
}
.dashboard-sideBar-UserInfo ul > li > a:hover{
	color: #F7F052;
}
.dashboard-sideBar-Menu{
	padding-top: 15px;
}
.dashboard-sideBar-Menu > li,
.dashboard-sideBar-Menu > li > a,
.dashboard-sideBar-Menu > li > ul > li,
.dashboard-sideBar-Menu > li > ul > li > a{
	line-height: 50px;
	font-family: "RobotoCondensedLight";
	display: block;
	color: #fff;
	text-decoration: none;
	border-radius: 4px;
	transition: all .3s ease-in-out;
	position: relative;
}
.dashboard-sideBar-Menu > li > a > i.zmdi-caret-down{
	line-height: 50px;
	transition: all .3s ease-in-out; 
}
.dashboard-sideBar-Menu > li > a{
	padding: 0 15px;
	box-sizing: border-box;
	height: 50px;
	outline: none;
}
.dashboard-sideBar-Menu > li > a:hover{
	background-color: rgba(255, 255, 255, .2);
}
.dashboard-sideBar-Menu > li > ul{
	position: relative;
	padding-top: 7px;
	height: 0;
	overflow: hidden;
}
.show-sideBar-SubMenu{
	height: auto !important;
	overflow: auto !important;
}
.dashboard-sideBar-Menu > li > ul > li,
.dashboard-sideBar-Menu > li > ul > li > a{
	height: 40px;
	line-height: 40px;
	border-radius: 0;
}
.dashboard-sideBar-Menu > li > ul > li{
	padding-left: 27px;
}
.dashboard-sideBar-Menu > li > ul > li > a{
	border-left: 3px solid transparent;
	outline: none;
}
.dashboard-sideBar-Menu > li > ul > li > a:hover{
	border-left: 3px solid #F7F052;
	color: #F7F052;
}

.dashboard-contentPage{
	right: 0;
	z-index: 1;
	padding-left: 270px;
}
.dashboard-Navbar,
.dashboard-Navbar > ul,
.dashboard-Navbar > ul >li,
.dashboard-Navbar > ul > li > a{
	height: 50px;
	line-height: 50px;
}
.dashboard-Navbar > ul > li > a{
	outline: none;
}
.dashboard-Navbar{
	background-color: #2A2D34;
	overflow: hidden;
}
.dashboard-Navbar > ul >li,
.dashboard-Navbar > ul > li > a{
	display: inline-block;
	width: 50px;
	text-align: center;
	color: #fff;
	margin: 0;
	padding: 0;
	font-size: 20px;
	transition: all .3s ease-in-out;
	position: relative;
}
.dashboard-Navbar > ul > li > a:hover{
	background-color: rgba(255, 255, 255, .1);
}
.dashboard-Navbar > ul > li > a > span.badge{
	position: absolute;
	top: 7px;
	right: 6px;
	background-color: #FF5722;
	transition: all .3s ease-in-out;
}
